* {
  padding: 0;
  margin: 0;
}

footer {
  height: 202px;
  background: #29b078;
  color: #FFF;
}

footer p {
  font-size: 16px;
  margin-bottom: 24px;
}

footer span {
  font-size: 14px;
  margin-right: 30px;
}

footer .boot {
  text-align: center;
}

footer .boot span {
  font-size: 12px;
}

footer .footrow {
  vertical-align: top;
  margin-top: 30px;
  margin-right: 125px;
}

@media screen and (max-width: 768px) {
  footer {
    height: 100%;
  }
  footer .footflex {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }
  footer p {
    margin: 5px 0px;
  }
  footer .footrow {
    margin: 5px 0px;
  }
}

.container {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  .container {
    width: 100%;
    overflow: hidden;
  }
  .navflex {
    text-align: center;
  }
}

.phonebtn {
  width: 40px;
  height: 6px;
  border-top: 20px double;
  border-bottom: 7px solid;
}

.dropdown {
  display: inline-block;
  vertical-align: middle;
  display: none;
}

@media screen and (max-width: 768px) {
  .dropdown {
    display: inline-block;
    margin-left: 30px;
  }
}

.dropdown-content {
  width: 100px;
  text-align: center;
  background: #FFF;
  border: 1px solid;
  position: absolute;
  display: none;
}

.dropdown-content ul {
  color: black;
}

.dropdown-content li a {
  display: inline-block;
  padding: 14px;
}

.dropdown-content a {
  text-decoration: none;
  color: black;
}

.dropdown-content a:hover {
  color: red;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:active .dropdown-content {
  display: block;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.isinline, footer .footrow {
  display: inline-block;
}

.vtm {
  vertical-align: middle;
}

.mt5 {
  margin-top: 8px;
}

.mt6rem {
  margin-top: 6rem;
}

@media screen and (max-width: 768px) {
  .mt6rem {
    margin-top: 6rem;
    float: none;
  }
}

.ml15 {
  margin-left: 15px;
}

.fw {
  font-weight: 400;
}

.pd20 {
  text-align: left;
  padding: 15px;
}

.grey {
  color: #999999;
  font-size: 14px;
}

.green {
  color: #29b078;
}

.red {
  color: red;
}

.black {
  color: black;
}

.txcenter {
  text-align: center;
}

.headtop {
  width: 100%;
  height: 2.5rem;
  line-height: 2.5rem;
  background: #FFF;
}

.headtop a {
  font-size: 0;
}

.headbottom {
  height: 6.0625rem;
  line-height: 6.0625rem;
  background: #29b078;
}

.headbottom img {
  vertical-align: middle;
}

.headbottom ul a {
  color: #FFF;
  text-decoration: none;
}

.headbottom ul li:hover {
  border-bottom: 5px solid #FFF;
}

.headbottom ul li {
  height: 5.725rem;
  width: 100px;
  text-align: center;
  list-style: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
}

.headbottom ul li:nth-child(4) {
  width: 70px;
  text-align: right;
}

.headbottom ul li:nth-child(4):hover {
  border: none;
}

.phonelogin {
  display: none;
}

@media screen and (max-width: 768px) {
  .phonelogin {
    display: block;
  }
  .pcnav {
    display: none;
  }
  .headimg {
    display: none;
  }
  a {
    margin: 10px;
    padding: 10px;
  }
}
